<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrainManagerApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        Fixed navbar
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="trainIcon">
                <img class="trainIcon" src="~/icons/kisspng-train-enterprises-rail-transport-logo-taiwan-high-train-silhouette-5a92e19a9aad22.4285509415195754506336-removebg-preview.png" alt="Alternate Text" width="75" height="50"/>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h4 id = "logoTr">Train manager</h4>
                    </li>
                </ul>
                <div class="d-flex">
                    @if (IsSectionDefined("AddTrain"))
                    {
                        @RenderSection("AddTrain");
                    }
                    @if (IsSectionDefined("ToLogout"))
                    {
                        @RenderSection("ToLogout");
                    }
                    @if (IsSectionDefined("Register"))
                    {
                        @RenderSection("Register");
                    }
                    @if (IsSectionDefined("Login"))
                    {
                        @RenderSection("Login");
                    }
                     @if (IsSectionDefined("DisplayTrains"))
                    {
                        @RenderSection("DisplayTrains");
                    }

                </div>
            </div>
        </nav>
    </header>

    <div class="containerM mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined("Footer"))
    {
        @RenderSection("Footer");
    }



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

<div id="footer">
    <div class="containerFot">
        <h2 id="title3">Get in touch</h2>
        <div class="row">
            <div id="facebook">
                <img src="~/icons/icon8.png" alt="">
            </div>

            <div class="designedIcon">
                <img src="~/icons/icon9.png" alt="">
            </div>

            <div class="designedIcon">
                <img src="~/icons/icon10.png" alt="">
            </div>

            <div class="designedIcon">
                <img src="~/icons/icon11.png" alt="">
            </div>
        </div>
    </div>
    <div class="subFooter">
        <p id="rights"> Trainmanager.com © 2021 All Rights Reserved</p>
    </div>
</div>

</html>

