@model dynamic

@{
    ViewData["Title"] = "DisplayTrains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="d-flex justify-content-center">Filtered trains</h2>
<div class="container">
    <div class="row">
        @if (Model != null)
        {
            @foreach (Train item in Model.Trains)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.TypeOfTrain)
                            </h5>
                            <p class="card-text">

                            <div class="d-flex justify-content-between">
                                <div>
                                        @item.DateOfDeparture.ToString("HH:mm")
                                </div>
                                <div>
                                        @item.DateOfArrival.Subtract(item.DateOfDeparture).Hours H :
                                        @item.DateOfArrival.Subtract(item.DateOfDeparture).Minutes M
                                </div>
                                <div>
                                        @item.DateOfArrival.ToString("HH:mm")
                                </div>
                            </div>
                            <br>
                            <div class="float-left">
                                    @Html.DisplayFor(modelItem => item.PointOfDeparture)
                            </div>
                            <div class="float-right">
                                    @Html.DisplayFor(modelItem => item.PointOfArrival)
                            </div>
                            </p>
                        </div>
                        @if (item.TypeOfTrain == TypeOfTrain.UsualTrain)
                        {
                            <ul class="list-group list-group-flush">
                                @foreach (Car car in Model.Cars)
                                {
                                    if (car.TrainId == item.Id)
                                    {
                                        <div class="list-group-item">
                                            <div class="float-left">
                                                <a asp-action="DisplayTickets" asp-route-id="@item.Id">@Html.DisplayFor(modelItem =>
                                car.TypeOfCar)</a>
                                            </div>
                                            <div class="float-right">
                                                @switch (car.TypeOfCar)
                                                {
                                                    case TypeOfCar.Luxury:
                                                        @:1500 uah
                                                        break;
                                                    case TypeOfCar.Compartment:
                                                        @:500 uah
                                                        break;
                                                    case TypeOfCar.Plazcart:
                                                        @:120 uah
                                                        break;
                                                    case TypeOfCar.Class1:
                                                        @:500 uah
                                                        break;
                                                    case TypeOfCar.Class2:
                                                        @:200 uah
                                                        break;
                                                }
                                            </div>

                                        </div>
                                        break;
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>


@section ToLogout{
<a class="navbar-brand" asp-controller="Account" asp-action="Logout">Logout</a>
}
